*{
	transition:all 0.6s ease 0s;
}

html {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	filter: alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);
    -ms-filter: alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=red,endcolorstr=blue,gradientType=0);/*IE8*/	
    background: rgb(30,19,35);
    background: -moz-radial-gradient(circle farthest-side, rgb(30,19,35), rgb(18, 21, 51));
    background: -webkit-gradient(radial, 0 0, 0 bottom, from(rgb(30,19,35)), to(rgb(18, 21, 51)));
    background: -o-radial-gradient(circle farthest-side, rgb(30,19,35), rgb(18, 21, 51));
}

a {
	text-decoration: none;
	color: rgb(255,255,255);
}

a:hover {
	color: rgb(170,170,170);
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	height: 100%;
}

.item{
  	width:100px;
  	height:100%;
  	/*border: 1px solid #CCC;*/
}

.item-menu {
	flex: 1 1 1;
	-webkit-flex: 1 1 1;
	background: rgb(255,255,255);
}

.item-detail {
	flex: 12 0 0;
	-webkit-flex: 12 0 0;
}

.menu-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	z-index: 65535;
	background: rgb(255, 255, 255);
}

.menu-item {
	width: 100%;
	height: 100px;
	margin-bottom: 5px;
	text-align: center;
	cursor: pointer;
}

.menu-item img {
	cursor: pointer;
}

.menu-item img.sub-menu {
	width: 50px;
	height: 50px;
}

.menu-item .sub-menu-title {
	color: rgb(76, 76, 76);
	line-height: normal;
	letter-spacing: 1px;
	font-size: 12px;
	padding: 6px;
}

.footer-container {
	position: fixed;
	bottom: -60px;
	right: 20px;
	opacity: 0;
}

footer {
	border: 1px solid rgba(167, 148, 131, 0.5);
	transform: matrix(1, 0, 0, 1, 0, -80);
	letter-spacing: 2.5px;
	width: 720px;
	z-index: 4;
	color: #838A96;
	font-size: 10px;
	text-align: center;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	letter-spacing: 3px;
	line-height: 1.6;
	z-index: 65535;
}

.footer-side {
	margin-top: 15px;
	border-top: 1px solid rgba(167, 148, 131, 0.5);
	/*padding-top: 15px;*/
	display: table;
	width: 100%;
}

.footer-side ul {
	list-style: none;
	display: table-row;
}

.footer-side ul li {
	display: table-cell;
	border-right: 1px solid rgba(167, 148, 131, 0.5);
	padding: 8px;
	cursor: pointer;
}

.footer-side ul li img {
	opacity: 0.5;
}

.logo-typo {
	position: absolute;
	cursor: pointer;
	left: 127px;
	top: 30px;
	height: 33px;
	color: rgb(255, 255, 255);
	font-size: 1.5em;
	font-weight: 100;
	font-family: 'Lato';
}

.logo-typo:hover {
	color: rgb(190, 173, 129);
}

.logo-typo span {
	color: rgb(190, 173, 129);
}

.main-article {
	width: 100%;
}

.article-tab {
	display: none;
	color: rgb(255,255,255);
	/*width: 100%;*/
	text-align: center;
	letter-spacing: 0px;
	overflow: hidden;
	font-weight: 200;
}

.article-tab .active {
	display: block!important;
}

#main-quote-all {
	font-style: italic;
	font-size: 27px;
	position: fixed;
}

.second-quote {
	font-size: 11px;
	text-align: center;
	width: 100%;
	color: rgb(166, 147, 130);
	font-family: pt_sans;
	letter-spacing: 2.5px;
}

.line-quote {
	background: rgb(166, 147, 130);
	height: 1px;
	opacity: 0;
	width: 100%;
	transform: matrix(0.00099999, 0, 0, 1, 0, 0);
	margin-top: 15px;
/*	width: 280px;
	margin: 8px auto;
*/}

.main-quote {
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 105.6451);
}

#quote2 {
	display: none;
}

#main-intro, #main-works, #main-team, #main-contact {
	color: rgb(255, 255, 255);
	height: 100px;
	/*border: 1px solid rgb(255,255,255);*/
	/*display: block;*/
	height: 100%;
	position: absolute;
	width: 68.86597938%;
	overflow: hidden;
	top: 90px;
	left: 18.694158%;
}

.wx-container {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
  	align-items: center;
  	height: 100%;
  	display: none;
}

.wxqrcode {
	width: 300px;
	height: 480px;
	z-index: 65535;
}

.wxqrcode img {
	width: 100%;
	height: 100%;
}

.main-header {
	text-align: left;
}

.line-header {
	background: rgb(168,146,131);
	height: 2px;
	width: 30px;
	margin-top: 20px;
}

.title-header {
	color: rgb(255,255,255);
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 12px;
	margin-top: -10px;
	margin-left: 60px;
	width: 200px;
}

.sub-title-header {
	width: 100%;
	font-weight: 200;
}

.sub-title-header h2 {
	font-weight: 100;
	font-size: 3em;
}

.full-text {
	opacity: 0;
	color: rgb(166, 147, 130);
	text-align: left;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	transform-origin: left 100% 0px;
	transform: matrix(-0.9, 0, 0, 1, 0, 0);
}

.quote-line {
	width: 100%;
	height: 1px;
	background-color: #A69382;
	opacity: 0.7;
	position: relative;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.full-text-content {
	padding: 15px;
	font-size: 13px;
}

.sub-title-header {
	transform-origin: left 100% 0px;
	transform: matrix(-0.9, 0, 0, 1, 0, 0);
	opacity: 0;
}

.products-container {
	display: flex;
	display: -webkit-flex;
	width: 100%;
}

.products-item {
	border-top: 1px solid rgb(65, 57, 68);
	border-bottom: 1px solid rgb(166, 147, 130);
	width: 33.33333%;
	height: 160px;
	cursor: pointer;
	margin:10px;
	overflow: hidden;
}

.products-item:hover {
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(255,255,255);
	transition: all 1s ease 0s;
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.products-container .products-item:first-child {
	margin-left: 0;
}

.products-container .products-item:last-child {
	margin-right: 0;
}

.works-full {
	margin-top: 15px;
}

.main-prod-text {
	margin-top: 70px;
	/*position: absolute;*/
	text-align: center;
	height: 100%;
	color: rgb(166, 147, 130);
	font-size: 12px;
	letter-spacing: 2.5px;
	line-height: 16px;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

.main-prod-text:hover {
	color: rgb(255, 255, 255);
}

.main-prod-icon {
	border-radius: 50%;
	padding: 10px;
	width: 22px;
	border: 2px solid rgb(166, 147, 130);
	opacity: 0.6;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0 auto;
	margin-top: -134px;
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 64);
}

.main-prod-icon:hover {
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
}


.white {
	color: rgb(255,255,255);
}

.tick-out {
	top: 0px;
	width: 6px;
	height: 12px;
	position: absolute;
	background-image: url("../imgs/tickOut.png");
	/*opacity: 0;*/
}
